@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* sheard style */
.color-orange {
    color: #FD6E0A;
}

.btn {
    color: white;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn i{
margin-right: 10px;    
}

.btn-white {
    background: white;
    color: #FD6E0A;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: white;
    color: #FD6E0A;
}

.btn-white:hover {
    background: #FD6E0A;
    color: white;
}

.section-content {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-content h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

header {
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 65px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 71.25%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;
}

nav ul a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#hero {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 628px;
}

.banner-content h2 {
    font-size: 50px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p {
    max-width: 475px;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image img {
    height: 676px;
    max-width: 584px;
    object-fit: cover;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

.about-container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.info-card h4 {
    font-size: 20px;
    color: #474747;
    font-weight: bold;
    line-height: 35px;
}

#skills {
    padding-top: 130px;
}

.skills-container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.skill-card {
    max-width: 247px;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #0000000F;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    color: #757575;
    line-height: 28px;
}

#resume {
    padding-top: 130px;
}

.resume-container {
    width: 71.25%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;

}

.card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.card-text {
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}

.resume-btn {
    text-align: center;
    margin: 50px 0 113px 0;
}

footer {
    padding: 130px 0;
    background: #FFF8F3;
}

.footer-container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 117px;
}

.social-content h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.social-content p {
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
    max-width: 562px;
}

.social-icons {
    display: flex;
    gap: 24px;
}

.social-icons img {
    width: 24px;
}

form h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 28px;
}

.input-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.input-content input[type="text"],
.input-content input[type="email"],
.input-content textarea {
    width: 461px;
    padding: 18px 0 18px 30px;
    border-radius: 5px;
    border: none;
}