@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* sheard style */
.color-orange {
    color: #FD6E0A;
}

.btn {
    color: white;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.section-content {
    max-width: 827px;
    text-align: center;
}

.section-content h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

header {
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: center left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 71.25%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;
}

nav ul a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#hero {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 628px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p {
    max-width: 475px;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image img {
    height: 676px;
    max-width: 584px;
    object-fit: cover;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

.about-container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.info-card h4 {
    font-size: 20px;
    color: #474747;
    font-weight: bold;
    line-height: 35px;
}